
<p class="lead info"> Welcome to Hooters Staff tips calculator PRO</p>
<h1 class= "infobla">Count how satificed your customers were at your service!</h1>
<style>
        body  {
            
            margin-top: 120px;
            background-image: url("https://image.ibb.co/kNTqVJ/XBLCNVo.jpg");
            background-color: #ca3434;
            background-repeat: no-repeat;
            background-position: center;
        }
        .infobla {
            background-color: whitesmoke;
        }
        </style>