<article class="col-lg-6" id="results">
    <div class="userResults-top" id="charges">
        <h4 class="text-center">Customer Charges</h4>
        <p class="lead">Subtotal: {{ctrl.subTotal | currency}}</p>
        <p class="lead">Tip: {{ctrl.tipping | currency}}</p>
        <hr>
        <p class="lead">Total : {{ctrl.totalAll | currency}}</p>
    </div>
    <!-- My Earnings -->
    <div class="userResults-bottom" id="eInfo">
        <h4 class="text-center">My Earnings Info</h4>
        <p class="lead">Tip total: {{ctrl.tipTotal | currency}} </p>
        <!-- <p class="lead" ng-show="mealForm.$valid">Tip total:{{((ctrl.input.mealPrice + ctrl.input.tip)/100) | currency}} </p> -->
        <p class="lead">Meal Count: {{ctrl.numOfMeal}} </p>
        <br>
        <p class="lead">Average Tip Per Meal: {{ctrl.averageTip | currency}}</p>
    </div>
</article>
<button type="button" class="btn btn-danger reset" name="reset" ng-click="ctrl.reset()">Reset</button>
